<div class="container">
  <h1 class="my-5">Reset Password</h1>
  <div class="form-group">
    <label for="password">Password</label>
    <input required pattern="^[A-Za-z0-9]\w{7,}$" [(ngModel)]='newPassword' #newPass="ngModel" name='newPassword' type="password"
      class="form-control" id="password" placeholder="Enter password">
  </div>

  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input [disabled]='!newPass.value|| newPass.invalid' required [pattern]="newPass.value" [(ngModel)]="confirmPassword"
      name="confirmPassword" type="password" class="form-control" id="confirm-password" placeholder="Confirm password" #confirmPass="ngModel">
  </div>

  <input [disabled]="newPass.pristine|| newPass.invalid || confirmPass.pristine || confirmPass.invalid" type="submit"
    value="Update Password" class="btn bg-purple" (click)="resetPassword()">

</div>